# Ignore node_modules directory
node_modules/

# Ignore any npm debug log files
npm-debug.log

# Ignore yarn error log files
yarn-error.log

# Ignore any files ending with .lock
*.lock

# Ignore .DS_Store files on macOS
.DS_Store
